header .topnav {
  background-color: #7272c7;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: verdana;
  /* Active class to highlight the current page */
}

header .topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

header .topnav a:hover {
  background-color: #404091;
  color: white;
}

header .topnav .nav-active {
  background-color: #2a2a98;
  color: white;
}

header .topnav .icon {
  display: none;
  border: 1px solid white;
  border-radius: 10px;
}

@media screen and (max-width: 480px) {
  header .topnav a {
    display: none;
  }
  header .topnav .icon {
    float: right;
    display: block;
  }
  header .topnav .topnav {
    padding: 3px;
  }
}

@media screen and (max-width: 480px) {
  header .responsive {
    position: relative;
    float: none;
  }
  header .responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  header .responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  header .responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-self: right;
    width: 100%;
    text-align: center;
  }
}

.header-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-img img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-img h1 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-transform: capitalize;
  font-size: 5.5vw;
}

@media screen and (max-width: 670px) {
  .header-img h1 h1 {
    font-size: 10vw;
  }
}

.header-img .text-3d {
  font-family: verdana;
  font-weight: 700;
  text-shadow: 1px 1px 1px #404091, 1px 2px 1px #404091, 1px 3px 1px #404091, 1px 4px 1px #404091, 1px 5px 1px #404091, 1px 6px 1px #404091, 1px 7px 1px #404091, 1px 8px 1px #404091, 1px 9px 1px #404091, 1px 10px 1px #404091, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
}
