main {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 10px 0 10px;
}

main .main-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
      grid-template-areas: "text-container";
  max-width: 950px;
  width: 100%;
  background-color: #7272c7;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 5px 3px 30px 0.3px;
          box-shadow: 5px 3px 30px 0.3px;
  padding-bottom: 20px;
}

.section-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 65%;
      grid-template-columns: 35% 65%;
      grid-template-areas: "text-container slideshow-container";
  max-width: 950px;
  width: 100%;
  background-color: #7272c7;
  border-radius: 10px;
  -webkit-box-shadow: 5px 3px 30px 0.3px;
          box-shadow: 5px 3px 30px 0.3px;
}

.section-container .slideshow-container {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: slideshow-container;
  max-width: 1000px;
  position: relative;
}

.section-container .slideshow-container .slides-img {
  max-width: 100%;
  max-height: 100%;
}

.section-container .slideshow-container img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-container .slideshow-container .left, .section-container .slideshow-container .right {
  position: absolute;
  top: 50%;
  cursor: pointer;
  width: auto;
  padding: 16px;
  color: #7272c7;
  font-size: 18px;
}

.section-container .slideshow-container .right {
  right: 0;
  border-radius: 5px 0 0 5px;
  background-color: #ffffff77;
}

.section-container .slideshow-container .left {
  border-radius: 0 5px 5px 0;
  background-color: #ffffff77;
}

.section-container .slideshow-container .left:hover, .section-container .slideshow-container .right:hover {
  background-color: #f1f1f1;
  color: black;
}

@media screen and (max-width: 933px) {
  .section-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-template-areas: "slideshow-container" "text-container";
    max-width: 1000px;
    width: 100%;
    background-color: #7272c7;
    border-radius: 10px;
  }
}

.text-container, .text-container2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: text-container;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1d1d1d;
  font-family: verdana;
}

.text-container h2, .text-container2 h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 0px;
  padding: 0 5px 0 5px;
}

.text-container h2 .japanese-text, .text-container h2 .english-text, .text-container2 h2 .japanese-text, .text-container2 h2 .english-text {
  color: #3939a0;
}

@media screen and (max-width: 654px) {
  .text-container h2, .text-container2 h2 {
    font-size: 25px;
  }
}

.text-container p, .text-container2 p {
  padding: 20px;
  background-color: #525294;
  width: 80%;
  border-radius: 10px;
  font-weight: 500;
}

.wikipedia-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #525294;
  border-radius: 10px;
  height: 33px;
  padding: 0 0 0 0;
}

@media screen and (max-width: 933px) {
  .wikipedia-info {
    margin-bottom: 23px;
  }
}

.wikipedia-info p {
  color: black;
  padding: 0px 5px 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wikipedia-info img {
  max-height: 25px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.gap {
  height: 50px;
}

/*table START*/
.table-container {
  max-width: 950px;
  width: 100%;
  background-color: #7272c7;
  border-radius: 10px;
  height: 300px;
  overflow-x: hidden;
}

@media screen and (max-width: 368px) {
  .table-container .nr {
    display: none;
  }
}

.table-container table {
  border-collapse: collapse;
  width: 100%;
  text-transform: capitalize;
  font-family: verdana;
  overflow-x: hidden;
}

.table-container table th, .table-container table td {
  padding: 8px;
}

@media screen and (max-width: 350px) {
  .table-container table th, .table-container table td {
    padding: 2px;
  }
}

.table-container table th {
  padding-bottom: 12px;
  text-align: left;
  background-color: #313158;
  color: white;
}

.table-container table .table-letter-color {
  color: #c4c4fd;
}

.table-container table tr:nth-child(even) {
  background-color: #525294;
}

.table-container table tr:hover {
  background-color: #6969ee;
}

.table-container table tr .table-btn {
  background-color: #2a2a98;
  color: white;
  cursor: pointer;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  text-align: center;
  border: 0.5px solid white;
}

.table-container table tr .table-btn:hover {
  background-color: #6b6bce;
  color: white;
}

.table-container table tr .table-btn a {
  text-decoration: none;
  color: white;
}

::-webkit-scrollbar {
  width: 15px;
  max-height: 10px;
  overflow: scroll;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2a2a98;
  border: 0.2px solid #b4b4eb;
  border-radius: 10px;
}

/*table END*/
