main {
    display: grid;
    justify-content: center;
    margin: 40px 10px 0 10px;

    .main-header {
      display: grid;
      grid-template-columns: 100%;
      grid-template-areas: "text-container";
      max-width: 950px;
      width: 100%;
      background-color: #7272c7;
      border-radius: 10px 10px 0 0;
      box-shadow: 5px 3px 30px 0.3px;
      padding-bottom: 20px;
    }
  }
  
  .section-container {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-areas: "text-container slideshow-container";
    max-width: 950px;
    width: 100%;
    background-color: #7272c7;
    border-radius: 10px;
    box-shadow: 5px 3px 30px 0.3px;

    .slideshow-container {
      grid-area: slideshow-container;
      max-width: 1000px;
      position: relative;

      .slides-img {
        max-width: 100%;
        max-height: 100%;
      }

      img {
        display: flex;
        justify-content: center;
      }

      .left, .right {
        position: absolute;
        top: 50%;
        cursor: pointer;
        width: auto;
        padding: 16px;
        color: #7272c7;
        font-size: 18px;
      }

      .right {
        right: 0;
        border-radius: 5px 0 0 5px;
        background-color: #ffffff77;
      }
      
      .left {
        border-radius: 0 5px 5px 0;
        background-color: #ffffff77;
      }

      .left:hover, .right:hover {
        background-color: #f1f1f1;
        color: black;
      }
    }
  }

  @media screen and (max-width: 933px) {
    .section-container {
      display: grid;
      grid-template-columns: 100%;
      grid-template-areas:  
        "slideshow-container"
        "text-container";
      max-width: 1000px;
      width: 100%;
      background-color: #7272c7;
      border-radius: 10px;
    }
  }
  
  
  .text-container, .text-container2 {
    grid-area: text-container;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(29, 29, 29);
    font-family: verdana;

    h2 {
      text-align: center;
      text-transform: capitalize;
      font-size: 30px;
      font-weight: 900;
      margin-bottom: 0px;
      padding: 0 5px 0 5px;

      .japanese-text, .english-text {
        color: #3939a0;
      }

      @media screen and (max-width: 654px) {
          font-size: 25px;
      }
    }

    p {
      padding: 20px;
      background-color: #525294;
      width: 80%;
      border-radius: 10px;
      font-weight: 500;
    }
  }
  
  .wikipedia-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #525294;
    border-radius: 10px;
    height: 33px;
    padding: 0 0 0 0;

    @media screen and (max-width: 933px) {
        margin-bottom: 23px;
    }

    p {
      color: black;
      padding: 0px 5px 0 5px;
      display: flex;
      align-items: center;
    }

    img {
      max-height: 25px;
      background-color: white;
      padding: 10px;
      border-radius: 10px;
      display: flex;
      justify-content: right;
    }
  }
  
  .gap {
    height: 50px;
  }

  /*table START*/
  .table-container {
    max-width: 950px;
    width: 100%;
    background-color: #7272c7;
    border-radius: 10px;
    height: 300px;
    overflow-x: hidden;

    @media screen and (max-width: 368px) {
      .nr {
        display: none;
      }
    }
    
    table {
      border-collapse: collapse;
      width: 100%;
      text-transform: capitalize;
      font-family: verdana;
      overflow-x: hidden;
      
      th, td {
        padding: 8px;

        @media screen and (max-width: 350px) {
            padding: 2px;
        }
      }

      th {
        padding-bottom: 12px;
        text-align: left;
        background-color: #313158;
        color: white;
      }

      .table-letter-color {
        color: #c4c4fd;
      }
      
      tr {

        &:nth-child(even){background-color: #525294;}

        &:hover {
          background-color: #6969ee;
        }
        
        .table-btn {
          background-color: #2a2a98;
          color: white;
          cursor: pointer;
          transition: ease-in 0.2s;
          text-align: center;
          border: 0.5px solid white;
  
          &:hover {
            background-color: #6b6bce;
            color: white;
          }
  
          a {
            text-decoration: none;
            color: white;
          }
        }
      }

    }
  }
  
  ::-webkit-scrollbar {
    width: 15px;
    max-height: 10px;
    overflow: scroll;
    border-radius: 10px;
  }
    
  ::-webkit-scrollbar-thumb {
    background: #2a2a98;  
    border: 0.2px solid #b4b4eb;
    border-radius: 10px;
  }
  /*table END*/