body {
    padding: 0; /*removes white edges, borders*/
    margin: 0; /*removes white edges, borders*/
  
    /*removes scroll bar START*/
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  /*removes scroll bar END*/
  
  /*header START*/
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 10px 0 10px;
    height: 50px;
    background-color: rgb(155, 155, 255);
  }
  
  .header-btn {
    background-color: rgb(155, 155, 255);
    border: none;
    color: black;
    cursor: pointer;
    transition: ease-out 0.2s;
  }
  
  .header-btn:hover {
    background-color: rgb(0, 3, 194);
    color: white;
    display: block;
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  
  .header-img {
    display: flex;
    justify-content: center;
    max-width: 100%;
    align-items: center;
  }
  
  .header-img img {
    display: flex;
    width: 100%;
    max-height: 350px;
    object-fit: cover;
  }
  
  .header-img h1 {
    position: absolute;
    display: flex;
    justify-content: center;
    color: white;
  }
  /*header END*/

/*main START*/
main {
    margin-top: 40px;
    display: grid;
    justify-content: center;
  }
  
  .main-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: '.';
    max-width: 750px; /*important line 1 for resposive width*/
    width: 100%; /*important line 2 for resposive width*/
    background-color: rgb(18, 107, 250);
  }
  
  h2 {
    text-align: center;
  }
  
  p {
    text-align: center;
    padding: 0 20px 0 20px;
  }
  
  .main-container .one img {
    max-width: 100%;
    display: flex;
  }
  /*main END*/

  /*footer START*/
footer {
    display: flex;
    justify-content: center; /*center footer*/
  }
  
  .footer-container {
    display: grid;
    grid-template-rows: 65px 80px;
    justify-content: space-around;
    width: 100%;
    margin-top: 40px;
    background-color: rgb(18, 107, 250);
  }
  
  .top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px 10px 4px 10px;
    border-bottom: 1.5px solid rgb(41, 41, 41);
  }
  
  .top .icon img {
    max-width: 30px;
  }
  
  .bottom {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2px 15px 0 15px;
    font-size: 12px;
    color: black;
  }
  
  /*footer END*/