body {
  padding: 0; /*removes white edges, borders*/
  margin: 0; /*removes white edges, borders*/

  /*removes scroll bar START*/
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  background-color: #5d58ad;
}

body::-webkit-scrollbar {
  display: none;
}
/*removes scroll bar END*/

/*scroll up button START*/
html {
  scroll-behavior: smooth;
}

.scroll-up {
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.scroll-up.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

.arrow-container {
  position: fixed;
  bottom: 50px;
  right: 20px;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 35px;
  border-radius: 23px;
  background-color: red;
}

.arrow {
  position: fixed;
  display: block;
  height: 14px;
  width: 14px;
  border: 4px solid white;
  transform: rotate(45deg);
  border-bottom: transparent;
  border-right: transparent;
  margin-top: 30px;
  animation: go-up 1.6s ease-in-out infinite;
}

@keyframes go-up {
  100% {
    margin-top: 10px;
    opacity: 0;
  }

  50% {
    opacity: 80%;
  }
}
/*scroll up button END*/

/*header START*/
.topnav {
  background-color: #7272c7;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #2a2a98;
  color: white;
}

.topnav .icon {
  display: none;
}

.topnav a:hover {
  background-color: #404091;
  color: white;
}

@media screen and (max-width: 480px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive {
    float: none;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.header-img {
  display: flex;
  justify-content: center;
  max-width: 100%;
  align-items: center;
}

.header-img img {
  display: flex;
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}

.header-img h1 {
  position: absolute;
  display: flex;
  justify-content: center;
  color: white;
}

.dropdown-btn {
  display: none;
}
/*header END*/

/*main START*/
main {
  margin-top: 40px;
  display: grid;
  justify-content: center;
}

.main-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: '.';
  max-width: 750px; /*important line 1 for resposive width*/
  width: 100%; /*important line 2 for resposive width*/
  background-color: rgb(18, 107, 250);
}

h2 {
  text-align: center;
}

p {
  text-align: center;
  padding: 0 20px 0 20px;
}

.main-container .one img {
  max-width: 100%;
  display: flex;
}
/*main END*/

/*footer START*/
footer {
  display: flex;
  justify-content: center; /*center footer*/
}

.footer-container {
  display: grid;
  grid-template-rows: 65px 80px;
  justify-content: space-around;
  width: 100%;
  margin-top: 40px;
  background-color: rgb(18, 107, 250);
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px 10px 4px 10px;
  border-bottom: 1.5px solid rgb(41, 41, 41);
}

.top .icon img {
  max-width: 30px;
}

/*tooltips start*/
.icon { 
  position: relative;
}

.icon:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 40px;
  right: -13px;
  background-color: #2a2a98;
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-transform: capitalize;
} 

@media screen and (max-width: 480px) {
  .icon:after {
    display: none;
  }
}
/*tooltips end (tooltips - hover text over icons)*/

.bottom {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2px 15px 0 15px;
  font-size: 12px;
  color: black;
}
/*footer END*/
